/* 
    Copyright 2023 HolyCorn Software
    The Engineer Terminal
    This stylesheet is commisioned on the faculty-manager/settings widget, where it controls the looks of a namespace of settings
 */

.hc-faculty-managed-settings-namespace>.container {
    display: flex;
    flex-direction: column;
    background-color: transparent;

}

.hc-faculty-managed-settings-namespace>.container>.main {
    display: flex;
    flex-direction: column;
    gap: 2em;

    width: clamp(300px, 100vw, 500px);
    box-shadow:0px 0px 12px #728f96;
    padding: 1.5em;
    border-radius:0.5em;
}

.hc-faculty-managed-settings-namespace>.container>.main>.top {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.hc-faculty-managed-settings-namespace>.container>.main>.top>.title {
    font-size: 1.5em;
    font-family: bariolBold;
}